<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Product Alert</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1>You look a little lost!</h1>
            <h3>Please try logging in or signing up!</h3>
        </div>
    </div>
</div>