<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Product Alert</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/signup">Sign Up</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col s12">
            <form id="login-form">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Email address" id="email" type="text" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Password" id="password" type="password">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row center-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Sign in
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        console.log("Hello world");
        $("#login-form").on("submit", (event) => {
            event.preventDefault();
            const email = $("#email").val();
            const password = $("#password").val();
            $.post("/api/auth", { email, password })
                .then(response => {
                    console.log(response);
                    window.location.replace(`/dashboard/${response.data.id}`)
                }).fail(err => {
                    console.log(err);
                    if (err.responseJSON.error) {
                        alert(err.responseJSON.message);
                    }
                })
        })
    })
</script>